<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- head include -->
    <%-include("./include/head")%>
    <style>
      h1,
      div {
        text-align: center;
      }

      p {
        white-space: pre-line;
      }
    </style>
  </head>
  <body>
    <!-- header include -->
    <%-include("./include/header.ejs")%>
    <h1><%=title%></h1>
    <div>
      <p><%=content%></p>
      <%if(img){%>
      <img src="/<%=img%>" alt="<%=contentID%>번글 이미지" width="200" />
      <%}%>
    </div>
  </body>
</html>
